.menu {
    height: 100px;
    width: 100%;
    color: var(--text-primary-white);
    background-color: var(--primary);
    position: sticky;
    top: 0;
    font-size: 1rem;
    z-index: 99;
}

@media (width <=1000px) {
    .menu {
        height: 160px;
    }
}

.menu-container {
    position: absolute;
    top: 0%;
    right: 5%;
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    font-weight: 500;
    padding: 0 10px;
}

@media (width <=1300px) {
    .menu-container {
        display: none;
    }
}

.menu-container>a {
    color: inherit;
    text-decoration: none;
}

.menu-container>a:hover {
    color: var(--tertiary);
}

.button {
    background-color: var(--secondary);
    height: 45px;
    width: 120px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    background-color: var(--quinary);
    transition: 0.3s;
}

.menu-container>div:hover {
    cursor: pointer;
}

.name {
    font-weight: bold;
    font-size: 1.7rem;
    line-height: 1;
    width: 30px;
}

.letters {
    color: var(--quinary);
    font-weight: bold;
    font-size: 4rem;
    background-color: var(--secondary);
    border-radius: 45px;
}

@media (width <=1000px) {
    .letters {
        font-size: 5rem;
    }
}

.name-container {
    position: absolute;
    left: 5%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 20px
}

@media (width <=1000px) {
    .name-container {
        left: 8%;
    }
}

.name-container:hover {
    cursor: pointer;
}

.sandwich {
    position: absolute;
    height: 100%;
    right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

@media (width > 1300px) {
    .sandwich {
        display: none;
    }
}

@media (width <=1000px) {
    .sandwich {
        gap: 10px;
        right: 70px;
    }
}

.sandwich :nth-child(1) {
    opacity: 80%;
}

.sandwich :nth-child(2) {
    opacity: 50%;
}

.sandwich :nth-child(3) {
    opacity: 30%;
}

.sandwich>div {
    height: 5px;
    width: 35px;
    border-radius: 5px;
    background-color: white;
}

@media (width <=1000px) {
    .sandwich>div {
        height: 10px;
        width: 70px;
    }
}

.menu-hidden {
    position: fixed;
    width: 65%;
    height: 100vh;
    right: 0;
    top: 160px;
    background-color: var(--primary);
    padding: 50px;
    font-size: 3.5rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    transition: 0.3s ease-in-out;
}

.menu-hidden a {
    color: inherit;
    text-decoration: none;
}

.menu-hidden a:hover {
    color: var(--tertiary);
}

.hidden {
    right: -90%;
    transition: 0.3s ease-in-out;
}