.cover {
    position: relative;
    border-bottom: 2px solid var(--background);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

@keyframes start {
    from {
        opacity: 0;
        transform: translateY(100px)
    }

    to {
        opacity: 1;
        transform: translateZ(0)
    }
}

.cover-conteiner {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    animation: start 2s;
    gap: 50px;
    padding: 80px 30px 30px 30px;
    width: 45%;
}

@media (width <=1300px) {
    .cover-conteiner {
        padding: 50px;
        width: 90%;
    }
}

@media (width <=1000px) {
    .cover-conteiner {
        padding-left: 80px;
        margin-bottom: 100px;
    }
}

.image {
    width: 45%;
}

@media (width <=1300px) {
    .image {
        width: 90%;
    }
}


.hello {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--quinary);
    padding: 12px 25px 12px 25px;
    background-color: color-mix(in srgb, var(--quinary) 20%, transparent);
}

@media (width <=1000px) {
    .hello {
        height: 70px;
        font-size: 2.6rem;
        padding: 20px 40px 20px 40px;
        margin-top: 60px;
    }
}

.cover-title {
    font-size: 3rem;
    font-weight: bold;
}

@media (width <=1000px) {
    .cover-title {
        font-size: 5rem;
    }
}

.download {
    height: 50px;
    width: 220px;
    font-size: 16px;
    font-weight: 500;
    border: 2px solid lightgray;
    background-color: var(--background);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (width <=1000px) {
    .download {
        font-size: 2.2rem;
        height: 100px;
        width: 60%;
    }
}

.download:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    background-color: var(--secondary);
    color: var(--text-primary-white);
    border: 2px solid var(--secondary);
}

.icon {
    width: 20px;
    height: 20px;
}

@media (width <=1000px) {
    .icon {
        width: 50px;
        height: 50px;
    }
}

.download:hover>img {
    transition: 0.3s;
    filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(25%) hue-rotate(56deg) brightness(108%) contrast(106%);

}

.skills {
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    font-size: 20px;
    font-size: 1rem;
}

@media (width <=1000px) {
    .skills {
        margin-top: 50px;
        font-size: 2.5rem;
        flex-wrap: wrap;
        width: 80%;
    }
}

.skills-number {
    font-size: 20px;
    font-weight: bold;
}

@media (width <=1000px) {
    .skills-number {
        font-size: 3.5rem;
    }
}

@media (width <=1000px) {
    .description {
        font-size: 2.4rem;
    }
}