.resume {
    padding: 50px 100px 100px 100px;
    animation: start 2s;
    border-bottom: 2px solid var(--background);
    width: 85%;
    height: 100%;
}

@media (width <=1300px) {
    .resume {
        padding: 50px 50px 50px 50px;
        width: 80%;
    }
}

@media (width <=1000px) {
    .resume {
        margin-top: 50px;
        padding: 80px 50px 50px 50px;
    }
}


.resume-content {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: nowrap;
    position: relative;
    gap: 50px;
}

@media (width <=1000px) {
    .resume-content {
        flex-wrap: wrap;
    }
}

.resume-section {
    display: flex;
    flex-direction: column;
}


.section-title {
    font-size: 1.3rem;
    font-weight: 600;
    margin: 40px 0px 40px 0px;
}


@media (width <=1000px) {
    .section-title {
        font-size: 2.6rem;
        margin-bottom: 60px;
        margin-top: 90px;
    }
}

.section-milestone {
    border-left: 3px solid var(--secondary);
    padding: 0px 20px 40px 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 13px;
    font-size: 0.9rem;
}

@media (width <=1300px) {
    .section-milestone {
        padding: 0px 0px 40px 20px;

    }
}

@media (width <=1000px) {
    .section-milestone {
        font-size: 1.7rem;
        padding: 0px 0px 90px 40px;
        border-left: 6px solid var(--secondary);
    }
}

.section-milestone:last-child {
    padding-bottom: 0;
}


.section-milestone::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: white;
    border: 3px solid var(--secondary);
    border-radius: 60px;
    position: absolute;
    left: -11px;
    top: 0;
    box-sizing: border-box;
}

@media (width <=1000px) {
    .section-milestone::before {
        width: 40px;
        height: 40px;
        border: 6px solid var(--secondary);
        left: -23px;
    }
}

.milestone-title {
    font-weight: 600;
    margin-bottom: 10px;
}

.milestone-period {
    color: color-mix(in srgb, black 55%, transparent);
}

.milestone-institution {
    font-style: italic;
}